@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@keyframes spawn {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0d0d0d;
  background-image: linear-gradient(135deg, #151515, #020202);
}

.title {
  width: 30rem;
  font: bolder 3rem 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 120%;
  letter-spacing: -0.75px;
  text-shadow: 0px 0px 3px #fdfdfd79;
  color: #fdfdfd;
  animation: spawn 1s;
}

.icon-github {
  background-color: #fdfdfd;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 3px #fdfdfd79;
  width: 6rem;
  height: 6rem;
  opacity: 0;
  animation: spawn 1s forwards;
  animation-delay: 0.5s;
}
